{% extends 'product.html' %}
{% load static %}
{% block active %}  {% endblock %}
{% block activeblog %} {% endblock %}
{% block activeabout %} active-menu {% endblock %}
{% block like %} {% endblock %}
{% block body %}

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'images/bg-01.jpg'%});">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	

{% for item in aboutdata %}
{% if forloop.counter <= 1 %}

	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							{{item.about_heading}}
						</h3>

						<p class="stext-113 cl6 p-b-26">
							{{item.about_para1}}

						</p>

						<p class="stext-113 cl6 p-b-26">
							{{item.about_para2}}

						</p>

						<p class="stext-113 cl6 p-b-26">
							{{item.about_theme}}

						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/media/{{item.about_image}}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			{% if forloop.counter >= 2 %}
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							{{item.about_heading}}
						</h3>

						<p class="stext-113 cl6 p-b-26">
							{{item.about_para1}}

						</p>
						<p class="stext-113 cl6 p-b-26">
							{{item.about_para2}}

						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								{{item.about_theme}}

							</p>

							<span class="stext-111 cl8">
								- {{item.thought_by}}
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="/media/{{item.about_image}}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
{% endfor %}

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
{% endblock %}