{% extends 'product.html'%}
{% load static %}
{% block active %} {% endblock %}
{% block like %} {% endblock %}
{% block body %}

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
			<button class="btn btn-danger" style="margin-left:1100px;" type="button" onclick="clearcart()">Clear Cart</button>
		</div>
	</div>
<div class="container">
    <div class="col my-4">

        <h2>Step 1 - My Online Shopping Cart Express Checkout - Review Your Cart Items</h2>
    </div>
        <div>
            <table style="width:100%; border:2px solid grey;" id="items">
            </table>
        </div>

	<div class="row my-4" id="mytotal">


	</div>
</div>

    <div class="container col my-3">
        <h2>Step 2 - Enter Address & Other Details:</h2>
    </div>
<div style="background-color:#E6E6FA;">
        <form method="POST" action="/placeorder"  class="container" >{% csrf_token %}
            <input type="hidden" name="itemsJson" id="itemsJson">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" id="address1"  name="address1" placeholder="Kathmandu" required>
            </div>
            <div class="form-group">
                <label>Address line 2</label>
                <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>City</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                </div>
                <div class="form-group col-md-4">
                    <label >State</label>
                    <input type="text" class="form-control" id="state" name="state" placeholder="Enter State" required>
                </div>
                <div class="form-group col-md-2">
                    <label>Zip</label>
                    <input type="text" class="form-control" id="zip_code" name="zip_code" placeholder="Zip Code">
                </div>
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone" required>
            </div>
            <button type="submit" class="btn btn-primary my-4">Place Order</button>
        </form>
</div>

{% endblock %}
{% block js%}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
var sum = 0;
if ($.isEmptyObject(cart)) {
    //if object is empty
    mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
    $('#items').append(mystr);
} else {
    var total = 0;
    var quantity =0;
    tabstr = `<tr>

                <th class="badge-warning" style="text-align:center; padding: 10px;">Names</th>
                <th class="badge-warning" style="text-align:center;">Size</th>
                <th class="badge-warning" style="text-align:center;">Color</th>
                <th class="badge-warning" style="text-align:center;">Quantity</th>
                <th class="badge-warning" style="text-align:center;">Price/pic(Rs.)</th>
               </tr>`
    $('#items').append(tabstr);
    for (item in cart) {
        let name = cart[item][0];
        let size = cart[item][1];
        let color = cart[item][2];
        let qty =parseFloat(cart[item][3]);
        let price = parseFloat(cart[item][4]);
        total = total+(price*qty);
        quantity = quantity + qty;
        mystr = `<tr style=" border:1px solid grey;">
                    <td class="badge-light" style="text-align:center; padding: 10px;">${name}</td>
                    <td class="badge-secondary" style="text-align:center;">${size}</td>
                    <td  class="badge-light" style="text-align:center;">${color}</td>
                    <td class="badge-secondary" style="text-align:center;">${qty}</td>
                    <td class="badge-light" style="text-align:center;">${price}</td>
                </tr>`

        $('#items').append(mystr);
    }
     mcato = `<tr><td></td>
     <td></td><td></td><td><button style="margin-left:50px;"class="btn btn-warning"  type="button">Total Quantity:${quantity}</button></td>
		<td><button class="btn btn-warning"  style="margin-left:50px; type="button">Total Price(Rs):${total}</button></td></tr>`
		$('#items').append(mcato);
}

$('#itemsJson').val(JSON.stringify(cart));
{% if thank %}
alert('Thanks for ordering with us. Your order id is {{id}}. Use it to track your order using our order tracker');
localStorage.removeItem("cart");
document.location = "/shop";
{% endif %}
</script>


{% endblock %}
